.App {
  text-align: center;
  word-spacing: 0px !important;
  background-color: #232323;
  height: 100% !important;
}

html, body, #root
{
	height: 100% !important;
}

a { color: inherit !important; }

p, .nav-link, .navbar-brand
{
	color: #efefef !important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.react-bingmaps
{
	width: 100% !important;
	height: 800px !important;
}
